<div class="container">
	<h1 class="multi-title">Multi-Playlists</h1>
	{{#data}}
		<div class="card">
			<div class="card-body">
				<div class="row">
				  	<div class="col-md-1">
				  		<a href="/multi/{{_id}}"><i class="fas fa-music song-handle"></i></a>
				  	</div>
				  	<div class="col-md-3">
				      <dt class="playlist_uri">Made at</dt><dd>{{created}}</a></dd>
				    </div>
				    <div class="col-md-3">
				    	<dt class="playlist_uri">Name</dt><dd>{{name}}</a></dd>
				    </div>
			    </div>
			</div>
		</div>
	{{/data}}
</div>