<div class="container">
	<div class="playlist-body" id="playlist-bod">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Playlist Tracks</h5>
				<button type="button" class="btn btn-outline-primary" id="play-curr">Play</button>
				<div class="row">
					<div class="play-handle col-md-1">
						<i class="fas fa-arrows-alt"></i>
					</div>
					<div class="col-md-11">
						<ol class="list-group song-list">
							{{#tracks.items}}
							  <li class="dl-horizontal list-group-item" id="{{track.uri}}">
							  	<div class="row">
								  	<div class="col-md-1">
								  		<i class="fas fa-music song-handle"></i>
								  	</div>
								  	<div class="col-md-3">
								      <dt class="playlist_uri">Added At</dt><dd>{{added_at}}</a></dd>
								    </div>
								    <div class="col-md-3">
								    	<dt class="playlist_uri">Name</dt><dd>{{track.name}}</a></dd>
								    </div>
							    </div>
							  </li>
							{{/tracks.items}}
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>